extends layout

include mixins/_storeCard

block content
  .inner
    h2 #{tag || 'Tags'}
    ul.tags
      each tagg in tags
        li.tag
          a(href=`/tags/${tagg._id}` class=(tagg._id) === tag ? 'tag__link--active' : '')
            span.tag__text= tagg._id
              span(class= (tagg._id) === tag ? 'tag__count--active' :'tag__count')= tagg.count
    if(tag)
      p
        strong Found #{storeCount} Stores with tag => '#{tag || 'all tags'}'
    else
      p
        strong Showing all stores

    .stores
      each store in stores
        +storeCard(store)
