mixin storeForm(store = {})
  form(action=`/add/${store._id||''}` method="POST" class="card")
    label(for="name") Name
    input(type="text" name="name" value= store.name)
    label(for="description") Decription
    textarea(name="description")= store.description
    //- address lat and long
    //- label(for="address") Address
    //- input(name="location[address]" id="address" type="text" value={store.location && store.location.address})
    //- label(for="lng") Address Longitude
    //- input(name="location[coordinates][0]" type="text" id="lng")
    //- label(for="lat") Address Latitude
    //- input(name="location[coordinates][1]" type="text" id="lat")
    - const choices = ['Wifi', 'Open Late', 'Family Friendly', 'Vegetarian', 'Licenced'];
    - const tags = store.tags || []
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
          label(for="tags")= choice
    input(type="submit" value="Save" class="button")
